@import url("./../../vendor/pure/pure-min.css");
@import url("./../../vendor/font-awesome/css/font-awesome.min.css");
@import url("./../../vendor/spectrum/spectrum.css");

.header {
  margin-bottom: 10px;
}

.container .pure-menu {
  border: none;
}

.left-navigation{
  text-align: center;
}

.right-navigation {
  font-family: Arimo,Arial,Serif;
  font-size: 14px;
}

.right-navigation label {
  display: inline-block;
  vertical-align: top;
  width: 100px;
}

#sizerange, #colorpicker, #brushescombo {
  margin-bottom: 10px;
}

#loading-indicator{
  display: none;
  position: fixed;
  width: 100px;
  height: 24px;
  top: 0;
  left: 45%;
  z-index: 10000;
  font-size: 8px;
  background-color: #3498DB;
  color: white;
  padding: 5px 5px;
}