@import url("./../../vendor/bootstrap.css/css/bootstrap.min.css");
@import url("./../../vendor/bootstrap.css/css/bootstrap-responsive.min.css");
@import url("./../../vendor/font-awesome/css/font-awesome.min.css");
@import url("./../../vendor/spectrum/spectrum.css");

.right-side-nav {
  display: inline-block;
  font-family: Helvetica,"Times New Roman",Serif;
}

.left-nav{
  text-align: center;
}

label {
  display: inline-block;
  width: 100px;
}

#sizerange, #colorpicker, #brushescombo {
  margin-bottom: 10px;
}

#colorpicker label{
  vertical-align: top;
}

#loading-indicator{
  display: none;
  position: fixed;
  width: 100px;
  height: 24px;
  top: 0;
  left: 45%;
  z-index: 10000;
  font-size: 8px;
  background-color: #3498DB;
  color: white;
  padding: 5px 5px;
}

#paint-size-widget{
  margin-top: 10px;
}